#!/bin/bash

source /opt/ros/jazzy/setup.sh

export TOP_HEAD=$PWD

export_alias build 'cd $TOP_HEAD && ./make_editor.sh'
export_alias run 'cd $TOP_HEAD && ./run_editor.sh'

export RMW_IMPLEMENTATION=rmw_fastrtps_cpp
export ROS_DISCOVERY_SERVER="127.0.0.1:11811"
export FASTRTPS_DEFAULT_PROFILES_FILE=${PWD}/fastdds_config.xml

